:root {
  --bg: #f5f6fa;
  --white: #ffffff;
  --blue: #1240e4;
  --red: #ff5858;
  --green: #30c75a;
  --blue-dark: #0e172c;
  --grey-ligth: #d6d6d6;
  --grey-dark: #888888;
  --h1: 700 1.625rem/2rem Inter;
  --subtitle: 700 1.25rem/1.5rem Inter;
  --body1-regular: 400 1rem/1.5rem Inter;
  --body1-bold: 700 1rem/1.5rem Inter;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

.main {
  background-color: var(--bg);
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.container {
  inline-size: 655px;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
  }
}
